.quizzes-container-content {
    margin-top: 50px;
}

.quizCard-container {
    border: 1px outset rgb(122, 122, 122);
    background-color: rgb(255, 255, 255);
    width: 900px;
    /* height: 115px; */
    padding: 10px 0;
    cursor: pointer;
    padding-left: 40px;
    color: #222222;
    letter-spacing: 1.4px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.quizCard-container:hover {
    background-color: #ffffff;
    position: relative;
    width: 915px;
    /* height: 120px; */
    
}

.quizCard-info-content {
    /* border: 1px solid red; */
    width: 600px;
}

.quizCard-marker-content {
    /* border: 1px solid blue; */
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    width: 200px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
}

.quizzes-container {
    width: 950px;
    display: flex;
    flex-direction: column;
    border: 2px outset rgb(177, 177, 196);
    padding-top: 30px;
    background-color: rgb(46, 46, 46);
    margin-bottom: 30px;
}

a {
    color: #222222;
}

.quiz-card {
    margin: 0 auto;
    margin-bottom: 30px;
}

.sortingQuiz-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.sort-content-container {
    display: flex;
}

.sort-container {
    width: 190px;
    /* border: 1px solid red; */
}

.list-title {
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: bold;
}

.quizCard-text {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.quizCard-text:last-child {
    margin-bottom: 0;
}

.quizCard-info {
    font-weight: bold;
}

.topic-text {
    font-size: 1.1rem;
    margin: 5px 20px;
    cursor: pointer;
}

.topic-text:hover {
    font-weight: bold;
}

.topics-content-text {
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    border: 1px outset rgb(226, 226, 226);
    padding: 5px 20px;
    background-color: rgb(237, 237, 238);
    margin-bottom: 30px;
}

.displayToggle {
    display: none;
}

.createNewToggle-btn-container {
    display: flex;
    justify-content: center;
    margin: 5px 25px;
    margin-bottom: 25px;
}

.createForm-btn {
    width: 150px;
    padding: 5px 10px;
    border: 1px outset rgb(180, 180, 180);
    border-radius: 5px;
}

.createForm-btn:hover {
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}

.createNewForm-container {
    margin: 0 25px;
    margin-bottom: 10px;
}
.guestHideFeature {
    display: none;
}