

.navigation-div {
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-bottom: 50px;
  position: fixed;
}

.nav-container {
  background-color: #222222;
  width: 1000px;
  /* min-width: 800px; */
  /* max-width: 1024px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.nav-profile-container {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid red; */
}

.profile-image {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.nav-logo {
  font-size: 1.3rem;
  /* border: 1px solid red; */
  /* width: 150px; */
  padding: 5px 0;
  text-align: center;
  color: #ffffff;
}

.nav-items {
  color: #ffffff;
  /* width: 150px; */
  font-size: 1.3rem;
  text-align: left;
  cursor: pointer;
  /* border: 1px solid red; */
}

.all-quiz-container {
  /* border: 1px solid red; */
  width: 950px;
  margin: 0 auto;
  padding-top: 80px;
}

.hamburger-container {
  position: relative;
}

.hamburger-dropdown-container {
  background-color: lightgray;
  border: 1px outset #222222;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 34px;
  display: flex;
  flex-direction: column;
}

.menu-links {
  margin: 20px 0;
  font-size: 1.1rem;
  color: #222222;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.menuActive {
  display: none;
}

.profile-container {
  position: relative;
}

.profile-dropdown-container {
  background-color: lightgray;
  border: 1px outset #222222;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 41px;
  display: flex;
  flex-direction: column;
}

.profileActive {
  display: none;
}