.quizCard-container {
    border: 1px outset rgb(122, 122, 122);
    background-color: rgb(233, 240, 246);
    width: 900px;
    padding: 10px 0;
    cursor: pointer;
    padding-left: 40px;
}

.quizCard-container:hover {
    background-color: rgb(206, 217, 226);
}

.quizzes-container {
    width: 950px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    border: 1px outset rgb(177, 177, 196);
    padding-top: 30px;
    background-color: rgb(239, 240, 241);
    margin-bottom: 30px;
}

a {
    color: #222222;
}

.quiz-card {
    margin: 0 auto;
    margin-bottom: 30px;
}

.list-title {
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: bold;
}

.quizCard-text {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.quizCard-text:last-child {
    margin-bottom: 0;
}

.quizCard-info {
    font-weight: bold;
}

.topic-text {
    font-size: 1.1rem;
    margin: 5px 20px;
    cursor: pointer;
}

.topic-text:hover {
    font-weight: bold;
}

.topics-content-text {
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    border: 1px outset rgb(226, 226, 226);
    padding: 5px 20px;
    background-color: rgb(237, 237, 238);
    margin-bottom: 30px;
}

.displayToggle {
    display: none;
}

.createNewToggle-btn-container {
    display: flex;
    justify-content: center;
    margin: 5px 25px;
    margin-bottom: 25px;
}

.createForm-btn {
    width: 150px;
    padding: 5px 10px;
    border: 1px outset rgb(180, 180, 180);
    border-radius: 5px;
}

.createForm-btn:hover {
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}

.createNewForm-container {
    margin: 0 25px;
    margin-bottom: 10px;
}